@import url(custStyles.css);
.weather-city {
    font-size: 28px;
    font-family: 'Mv Boli', cursive;
}

.chart-temp {
    padding-right: 20vh;
    padding-left: 20vh;
    padding-top: 100px;
    height: 30%;
    width: 70%;
}


/* 固定ページのヘッダー固定 */

#fixed-header-intro {
    background-image: url('../images/home/introduction.png ');
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    color: black;
}

#fixed-header-hobby {
    background-image: url('../images/home/hobby.png ');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    color: black;
}

#fixed-header-country {
    background-image: url('../images/home/country.png ');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    color: black;
}

.contents-display {
    padding-left: 20%;
    padding-right: 20%;
}


/* top ムービー */

.top-move {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}

.top-move-text {
    font-family: 'Mv Boli', cursive;
    color: white;
    font-size: 10ex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overlay::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.4);
}


/* 天気予報 */

.contentsWrap .mainContents .banners #weather-message {
    font-size: 40px;
    font-family: 'Mv Boli', cursive;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
}

.contentsWrap .mainContents .banners #weather-message:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
    margin-left: 1rem;
}


/* コンテンツ一覧 */

.contentsWrap .mainContents .banners #content-label {
    font-size: 40px;
    font-family: 'Mv Boli', cursive;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
}

.contentsWrap .mainContents .banners #content-label:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
    margin-left: 1rem;
}


/* 場所を選択するプルダウン */

.contentsWrap .mainContents .banners .form-group {
    position: relative;
    width: 90%;
    margin: 2em auto;
    text-align: center;
}

.contentsWrap .mainContents .banners .form-control {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contentsWrap .mainContents .banners .form-control:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.contentsWrap .mainContents .banners .form-group .form-control {
    appearance: none;
    -webkit-appearance: none
}

.contentsWrap .mainContents .banners .form-group select::-ms-expand {
    display: none;
}

.contentsWrap .mainContents .banners .form-group:after {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.cp_sl06_selectlabel {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

.contentsWrap .mainContents .banners .select-label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

.contentsWrap .mainContents .banners .form-control:focus~.contentsWrap .mainContents .banners .select-label,
.contentsWrap .mainContents .banners .form-control:valid~.contentsWrap .mainContents .banners .select-label {
    color: #da3c41;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}